<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753868253163-vt3oh3hdd2kdjgkllbhra067i2ocg5ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753868253163-vt3oh3hdd2kdjgkllbhra067i2ocg5ne</string>
	<key>API_KEY</key>
	<string>AIzaSyCxFwR1Js2r2_8pnx5xrztAJDskrw_Ir2c</string>
	<key>GCM_SENDER_ID</key>
	<string>753868253163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.csandiego.POC-FirebaseUI</string>
	<key>PROJECT_ID</key>
	<string>poc-firebaseui</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-firebaseui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753868253163:ios:cc4b8776d384fb67f75bae</string>
	<key>DATABASE_URL</key>
	<string>https://poc-firebaseui.firebaseio.com</string>
</dict>
</plist>